

body {
  
    background-color: white;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  
}

p {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

ul {
  margin-left: 20px;
  margin-right: 20px;
}

li {
  margin-left: 20px;
  margin-right: 20px;
}

/* navigation */

.logo {
  width: 140px;
  height: auto;
  display: flex;
  margin: 0 auto;
  align-items: center;
  margin-right: 250px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1390px;
  height: 80px;
  padding: 0 40px;
  margin: 0 auto;
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-left ul {
  list-style: none;
  display: flex;
  gap: 70px;
  padding: 0;
  margin: 0;
}

.nav-left ul li a {
  text-decoration: none;
  color: rgb(81, 97, 98);
  font-weight: bold;
  font-size: 16px;
}

.nav-left ul li a:hover {
  color: lightgray;
}

.icons {
  display: flex;
  gap: 100px;
  padding: 0;
  margin: 0;
  align-items: flex-end;
}

.icons img {
  width: 45px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  transform: scale(0.5);
  transform-origin: center;
}

  /* Footer styling */
footer {
  background-color: white;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
  gap: 20px;
}

.footer-logo img {
  height: 60px;
  margin-bottom: 20px;
}

.footer-text {
  max-width: 600px;
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.6;
}
.footer-links {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.footer-links a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

.footer-links a:hover {
  color: lightgray;
}




  @media (max-width: 768px) {

    body {
      overflow-x: hidden;
    }

    .navbar {
      display: flex;
      padding: 0;
      width: 100vw;

    }

    .nav-left {
    flex: 1;
    
    
    }

    .nav-left ul {
      
      gap: 5px;
      width: 100%;
      margin: 0;
      padding: 0;
      margin-left: 10px;
    }

    .nav-left ul li {
      margin: 0;

    }


    .nav-left ul li a {
      font-size: 10px;
    }

    .logo {
      padding: 5px;
      width: auto;
      height: 50%;
      margin-right: 3px;
      margin-left: 3px;
    }

    .icons {
      flex: 1;
      gap: 17px;
      justify-content: flex-end;
      margin-right: 10px;
    
    

  
    }

    .icons img {
      gap: 5px;
      width: 100%;
    }




  p {
    margin: 20px;
    margin-top: 40px;
  }

  ul, li {
    margin: 10px;
  }



  footer {
    padding: 10px;
  }

  .footer-logo img  {
    height: 50px;
  }

  .footer-text {
    font-size: 12px;
    margin: 0 10px;
  }

  .footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}